<div class="main_content">
    <form class="location_form" action="/" method="POST">
        <label for="location">City</label>
        <input id="location" type="text" name="location" placeholder="Yasuni">
        <button class="btn">
            <i type="submit" class="fas fa-search-location"></i>
        </button>
    </form>
    <div class="response">
        {{#if response}}
        <p>{{response}}</p>
        <p>{{location}} {{address}}</p>
        {{else}}
        <p>Search Cities!</p>
        {{/if}}

    </div>
    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
    <div>
        {{#if image}}
        <img class="weather_img" src={{image}} alt="weather_photo" />
        {{else}}
        <i class="fab fa-watchman-monitoring fa-5x"></i>
        {{/if}}
    </div>
</div>